@CHARSET "UTF-8";
/*Common*/

body{
	background-color:#efeff3;
	font-family: Novecento, "Microsoft YaHei";
}
.headerBar {
	height: 150px;
	margin-top: 0px;
	border: 0px, 0px, 2px, 0px solid #9999cc;
	background-color:#443A62;
}
.footer {
	width: 100%;
	line-height:24px; 
	padding:50px 0;
	font-size: xx-small;
	font-style: italic;
	text-align: center;
	color: #443A62;
	clear:both;

}


/*index.html admin platform*/
.title{
	padding-top: 45px; 
	text-align: center;
	font-size:large;
	color:#FFF; 
}

.nav_hi{
	margin-left: 20px;
}
.nav_li{
	width: 90px;
	
}
.nav_right{
	color: #fff;
	text-decoration:none;
}
.nav_a{
	text-decoration: none;
	font-size: 15px;
	color: #443A62;
	display: block;
	line-height: 30px;

}
.nav_a:hover{
	color: #443A62;
	background-color: #9999cc;
	padding:0 5px;
}
.navbar{
	margin-right: 0px;
	margin-top: 25px;
	width: 100%;
	height: 30px;
	background-color:#443A62;
}
.leftsidebar{
	width: 10%;
	height: 100%;
	padding-left: 10px; 
	padding-top: 10px;
	float: left;
}

/*table */
table.altrowstable {
    font-family: Novecento, "Microsoft YaHei";
    font-size:14px;
    color:#333333;
    border-width: 1px;
    border-color: #a9c6c9;
    border-collapse: collapse;
}

table.altrowstable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
table.altrowstable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}

.evenrowcolor{
    background-color:#9999cc;
}

.formButton{
	background-color: #c3dde0;
	border: 2px solid #c3dde0;
	border-radius: 2px;
}
.tablediv{
	padding-top: 20px;
	margin-left: 130px;
	float: left;
	color: #443A62;
}
/*add event*/
.loginBox{
	padding:10px; 
	padding-top: 20px;
	margin-left: 400px;

	float: left;
	color: #443A62;
}	
.loginForm {
	width: 280px;
	color: #443A62;
	border-radius: 10px;
}
input{
	color:#443A62;
}

.formInfo {
	height: 25px;
	width: 275px;
	border: 2px solid #9999cc;
	border-radius: 5px;
	font-weight: bold;
}
.LoginButton {
	background-color: #99cc00;
	color: white;
	font-size: 15px;
	font-weight: bold;
	width: 278px;
	height: 30px;
	border: 2px solid #99cc00;
	border-radius: 5px;
}

/*user table*/
.frontendtablediv{
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	color: #443A62;
	width: 80%;
}

table.frontendtable {
    font-family: Novecento, "Microsoft YaHei";
    font-size:14px;
    color:#333333;

    border: #a9c6c9;
    border-collapse: collapse;
}

table.frontendtable th {

    padding: 8px;
    border: 1px solid;
    border-color: #a9c6c9;
 	background-color:#9999cc;
}
table.frontendtable td {

    padding: 8px;
    border:  1px solid;
    border-color: #a9c6c9;
}
